.navbar {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-6)
  );
  border-top-right-radius: var(--mantine-radius-lg);
  border-bottom-right-radius: var(--mantine-radius-lg);
}
