.navbar {
  background-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-8)
  );
  border-top-right-radius: var(--mantine-radius-lg);
  border-bottom-right-radius: var(--mantine-radius-lg);
  border-right: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
}

.main {
}
