.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-lg);
}

.inner {
  width: 100%;
  height: 100%;
}

.status {
  font-size: calc(var(--mantine-font-size-lg) * 2);
  font-weight: 700;
  margin-top: var(--mantine-spacing-md);
}
