.wrapper {
  position: sticky;
  top: 0;

  padding-top: calc(var(--mantine-spacing-xl) * 2.5);

  @media (max-width: $mantine-breakpoint-xl) {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mantine-spacing-md);
}

.title {
  margin-left: var(--mantine-spacing-md);

  @mixin rtl {
    margin-left: 0;
    margin-right: var(--mantine-spacing-md);
  }
}

.mobileFob {
  display: none;

  position: sticky;
  bottom: 15px;
  left: 15px;

  @media (max-width: $mantine-breakpoint-xl) {
    display: block;
  }
}
